<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %} {% endblock %}EticDrive</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'filemanager/style.css' %}">
    <script src="{% static 'filemanager/script.js' %}"></script>

    <style>
      html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      body {
          background-image: url("{% static 'filemanager/Hero.jpg' %}");
          background-size: cover;
          background-position: center;
          height: 100vh;
          width: 100vw;
          margin: 0;
          padding: 0;
          overflow: hidden;
      }
      
  </style>

  </head>
  <body>
    
    <!-- {% block 'nav' %}
    {% if user.is_authenticated %}
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <h3>Hello, {{ user.username }}!</h3>
        <button type="submit">logout</button>
      </form>
      <br>
    {% else %}
      <a href="{% url 'signup' %}">signup</a>
      <a href="{% url 'login' %}">login</a>
    {% endif %}
    <hr/>
  {% endblock %} -->
  
  {% block 'content' %} {% endblock %}

</body>
</html>