{% extends "filemanager/base.html" %}

{% block 'content' %}

<div class="folder-createcard">
    <h1>Folder</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
      </form>
</div>
<hr>
<div class="file-createcard">
    <h1>File</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ fileform }}
        <button type="submit">Upload</button>
      </form>
</div>
<hr>
    <ul>
        <!-- tentar colocar o csrf_token no webcomponent -->
        {% for folder in folders %}
            <li>{{folder.title}} - {{folder.date}} <a href="/delete/{{folder.pk}}">Delete</a><a href="/edit/{{folder.pk}}">Edit</a></li>
        {% endfor%}
        {% for file in files %}
            <li>{{file.title}} - {{file.date}} <a href="/delete/{{file.pk}}">Delete</a><a href="/edit/{{file.pk}}">Edit</a><a href="/download/{{file.pk}}">Download</a></li>
        {% endfor%}
    </ul>

{% endblock %}
