{% extends "filemanager/base.html" %}

{% block 'content' %}

<div class="folder-createcard">
    <h1>Folder</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
      </form>
</div>
<hr>
<div class="file-createcard">
    <h1>File</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ fileform }}
        <button type="submit">Upload</button>
      </form>
</div>
<hr>
    <ul>
        {% for folder in folders %}
            <li>{{folder.title}} - {{folder.date}}</li>
        {% endfor%}
        {% for file in files %}
            <li>{{file.title}} - {{file.date}}</li>
        {% endfor%}
    </ul>

{% endblock %}
